.repository {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 500px; /* Cambia el tamaño según lo necesario */
    height: auto; /* Cambia el tamaño según lo necesario */
    background-image: linear-gradient(to right, #111729, #1D1B48);
    border-radius: 10px;   
    padding-left: 20px;
    padding-top: 20px;
}

.title > span {
    color: #CDD5E0;
    font-size: 19px; 
}
.content {
    width: 490px;
    height: 90%;
}
.content > p {
    color: #97A3B6;
    word-wrap: break-word; /* Permite dividir palabras largas */
    white-space: normal; /* Permite saltos de línea automáticos */
    overflow-wrap: break-word; /* Asegura que las palabras largas se dividan si es necesario */
    display: block; /* Asegura que el span ocupe todo el ancho disponible */
}

.moreInfo {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    padding-bottom: 10px;
}
.moreInfo > span {
    color: #97A3B6;
}

.moreInfo > span:last-child {
    font-size: 10px;
    padding-left: 10px;
}